# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Objects\批量图片合成器\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
